body {
    color: red;
    font-family: Roboto;
    font-size: 90%;
    margin: 0;
}

.zewnetrzne_przyciski_menu {
    float: left;
    width: 24%;
    text-align: center;
    display: inline-bloc;
    text-decoration: none;
    color: black;
    margin: 0.5%;
    background-color: lightgray;
}

.wewnetrzne_przyciski_menu {
    margin: 0.5%;
    border: 1px solid black;
}

.menu {
    list-style-type: none;
    overflow: hidden;
    background: #E1DAD8;
    width: 100%;
    box-shadow: 0px 0px 10px 2px #000;
}

a:link, a:visited {
  background-color: lightgray;
  color: black;
  padding: 0.5% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #D3C7C4  ;
}