body
{
  color: red;
  font-family: Times_New_Roman;
  font-size: 75%;
  margin: 0;
}

menu
{
    li
    {
     float: felt;
     width: 50%;
     text-align: center;
     padding: 15px 0;
    }

    a
    {
        text-decoration: none;
        color: black;
    }

    nav ul
    {
        background: lightgray;
        height: 50px;
        box-shadow: 0px 0px 20px 2px #000;
    }
}

